@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  --bg-color:white;
  --p-color:black;
  --shad-color:black;
  /*--bg-color:black;*/
  /*--p-color:white;*/
}
.dark-theme{
  --bg-color:black;
  --p-color:white;
  --shad-color: white;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
#icon{
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-top:7px;
  position: relative;
  background: black;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
  inset 0 8px 8px rgba(0,0,0,0.1),
  inset 0 -4px 4px rgba(0,0,0,0.1);
}
#icon .indicator{
  position: absolute;
  top:0;
  left: 0;
  width:30px;
  height: 30px;
  background: linear-gradient(#FAEBD7,#FFFAFA);
  border-radius: 50%;
  transform: scale(0.8);
  box-shadow: 0 8px 40px rgba(248,248,255,0.5),
  inset 0 4px 4px rgba(0,0,0,0.1),
  inset 0 -4px 4px rgba(0,0,0,0.1);
  transition: 0.5s;
}
#icon.active .indicator{
  left:20px;
  background: linear-gradient(black,#696969);
  box-shadow: 0 8px 20px rgba(248,248,255,0.1),
  inset 0 4px 4px rgba(0,0,0,0.1),
  inset 0 -4px 4px rgba(0,0,0,0.1);
}
#icon.active{
  background: white;
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
  inset 0 2px 8px rgba(0,0,0,0.1),
  inset 0 -4px 8px rgba(0,0,0,0.05);
}
/* Navbar CSS Start */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}
.navbar-nav {
  margin-left: auto;
}
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #343148;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #ffffff;
}

.navbar .navbar-brand img {
  max-width: 32%;
  max-height: 30%;
  margin: -10px 0px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  border-radius: 6px;
  background: rgba(256, 256, 256, 0.3);
  transition: all 0.3s ease-in;
  transform: scale(105%);
}
.navbar-dark .navbar-nav .nav-link:hover i {
  transform: rotate(10deg);
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}
#logoname {
  margin-left: -110px;
  margin-top: -3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar CSS End */

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.1) !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #343148 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #343148 !important;
  }

  .navbar.nav-sticky {
    position: sticky;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    text-align: center;
    padding: 5px;
  }
  .navbar a.home {
    margin-top: 7px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

@media (min-width: 280px) and (max-width: 333px) {
  .images {
    margin-left: -5px;
    width: 250px;
    height: 150px;
  }
}

/*** Footer ***/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;
}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
  transition: all 0.3s ease-out;
}
footer .f-container:hover h2:hover:before {
  width: 130px;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}
.faqq {
  font-family: 'Muli', sans-serif;
  padding-bottom: 6em;
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 900px;
  margin: 0 auto;
}

.faq {
  background-color: #4ca8af;
  border: 1px solid #c1c4c7;
  color: #fff;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  border-radius: 7px;
}

.faq.active {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0 ;
} 

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  color: #fff;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #222;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  footer .f-container .sec.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

/* bottom to top button start */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff9966;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 63%);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

@media (max-width: 373px) {
  #logoname {
    font-size: 28px;
    margin-left: -110px;
  }
}

article {
  height: 100vh;
  width: 100vw;
}

#about {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
}
#about-us {
  font-size: 8rem;
}
#about video {
  width: 100vw;
}

.overlay {
  position: absolute;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay h1 {
  font-weight: bold;
  font-size: 5rem;
}
.overlay p {
  font-weight: bold;
  font-size: 2rem;
}

.carousal {
  background-color: #4ca8af;
  /* background-image: linear-gradient(147deg, #4ca8af 8.1%, rgb(37, 148, 141) 91.2%); */
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  display: flex;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(108.7deg, rgb(149, 237, 223) 8.1%, rgb(37, 148, 141) 91.2%);
  box-shadow: 4px 13px 30px 1px #4ca8af;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
<<<<<<< HEAD
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #4ca8af;
  height: 30px;
  box-shadow: 0px 0px 20px #4ca8af;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
=======
#inner p {
  width: 40%;
  color:var(--p-color);
>>>>>>> caf973fdc302773bd8b5f8380e7414d3f4d0aab3
}

#policy {
  color: white;
  background-color: #4ca8af;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  text-align: justify;
}
#p-title {
  font-weight: bold;
}
#privacy {
  font-size: 1.25rem;
}
<<<<<<< HEAD
=======

#faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem;
  height: auto;
  font-size: 1.25rem;
  background-color: var(--bg-color);
  color: var(--p-color);
}
#faqw{
  margin-left: 5rem;
}
#faq h1 {
  font-weight: bold;
  color: #4ca8af;
}
#faq > * {
  padding-bottom: 1%;
}
#faq li {
  list-style-type: circle;
}
>>>>>>> caf973fdc302773bd8b5f8380e7414d3f4d0aab3
.margin-10 {
  font-weight: 100;

  margin-left: 1.5%;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
#c-title {
  font-weight: bold;
  color: #4ca8af;
}
#contact p {
  font-size: 1.25rem;
  color: var(--p-color);
}
#team {
  padding: 3rem 0;
  background-color: #4ca8af;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}
#team div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#t-title {
  font-weight: bold;
  font-size: 3rem;
}
#team li {
  font-size: 1.5rem;
  text-align: center;
  list-style-type: none;
}
.more-details {
  text-align: center;
}