@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");


* {
    /* scroll-behavior: smooth; */
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
  }

 body{
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;

 }
/* Navbar CSS Start */
.navbar {
    width: inherit;
    position: absolute !important;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 999;
    background: transparent;
    /* width: 100vw !important; */
  }
  .navbar-nav {
    margin-left: auto;
  }
  .navbar.nav-sticky {
    position: fixed !important;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
  letter-spacing: 2px;
    transition: 0.5s;
  }
  
  .navbar .navbar-brand span {
    color: #343148;
    text-transform: lowercase;
    transition: 0.5s;
  }
  
  .navbar.nav-sticky .navbar-brand span {
    color: #ffffff;
  }
  
  .navbar .navbar-brand img {
    max-width: 32%;
    max-height:30%;
    margin: -10px 0px;
  }
  
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, 0.3);
    transition: none;
  }
  
  .navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
  }
#logoname{
  margin-left: -110px;
  margin-top: -3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width:373px){
  #logoname{
    font-size: 28px;
    margin-left: -110px;
  }
}
/* @media (max-width:992px){
  .navbar{
    min-width: 920px;
    overflow: hidden;
  }
} */
@media (min-width: 992px) {
.navbar {
  position: absolute;
  width: 100%;
  padding: 20px 60px;
  background: rgba(0, 0, 0, 0.1) !important;
  z-index: 9;
}

.navbar.nav-sticky {
  padding: 10px 60px;
  background: #343148 !important;
}

.navbar a.nav-link {
  padding: 8px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
}

@media (max-width: 991.98px) {
.navbar {
  padding: 15px;
  background: #343148 !important;
}

.navbar.nav-sticky {
  position: sticky;
}

.navbar .navbar-brand span {
  color: #ffffff;
}

.navbar a.nav-link {
  padding: 5px;
}

.navbar .dropdown-menu {
  box-shadow: none;
}
}


@media (min-width:280px) and (max-width: 333px) {
.images {
  margin-left: -5px;
  width: 250px;
  height: 150px;
}
}

/* Navbar end */




/* content starts here */

/* quick navigation starts here */

.subMenu {
  /* flex-direction: column; */
  position: fixed;
  /* display: inline-flex; */
  box-sizing: border-box;
  
  width: 72px;
  height: 53px;
  top: 81px;
  left: 10px;
  padding-top: 2px;
  padding-left: 10px;
  transition: all 0.4s;
  z-index: 10;
}

.Content .background {
  background-color: teal;
}

.subMenuTitle {
  height: 43px;
  /* font-family: "Dancing Script", cursive; */
  font-size: 30px;
  color: white;
}
.fa-bars:before {
  content: "\f00d";
}
.subMenuTitle p {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

.subMenu .subMenuTitle label {
  padding: 5px 13px;
}

.subMenu .subMenuTitle .fa-bars:before {
  content: "\f0c9";
}

.subMenu .subMenuTitle label:hover {
  background-color: rgba(107, 207, 207, 0.4);
}

.subMenuLinks {
  flex: 1;
}

.subMenuLinks ul {
  /* display: flex; */
  /* flex-direction: column; */
display: none;
  list-style: none;
}

.subMenuLinks ul li a {
  text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 19px;
    padding: 5px 10px;
}

.subMenuLinks ul li a:hover {
  background-color: rgba(107, 207, 207, 0.4);
}

#sidebar-toggle:checked ~ .subMenu {
  height: 230px;
  width: 230px;
}

#sidebar-toggle:checked ~ .subMenu .subMenuTitle p{
  display: inline;

}
#sidebar-toggle:checked ~ .subMenu .subMenuLinks ul {
  display: block;
}

#sidebar-toggle:checked ~ .subMenu .subMenuTitle label {
  padding: 5px 10px;
}
#sidebar-toggle:checked ~ .subMenu .subMenuTitle .fa-bars:before {
  content: "\f00d";
}

/*  quick navigation ends here */

/* main content begins here */

.mainSection {
  height: auto;
  display: inline-flex;
  flex-direction: column;
  width: inherit;
}

/* 1st Section */
.section1 {
  height: 80vh;
  width: 100vw;
  color: rgb(240, 231, 231);
}
.mainBackground {
  background: rgba(0, 0, 0, 0.2) url(../assets/covidSectionTop.jpeg) no-repeat;
  width: 100vw;
  height: 600px;
  background-size: cover;
  background-blend-mode: darken;
}
/* @media (max-width:570px){
  .mainBackground{
    width: 590px;
  }
  .navbar{
    width: 590px;
  }
} */
.mainSection .firsthalf1 {
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px 28px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* 2nd Section */

.section2{
  margin: 80px auto;
  padding: 10px 20px;
}

.heading{
  margin: 30px auto ;
  padding: 20px;
  text-align: center;
  color:rgb(104, 104, 104);
}

.blog-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

 .blog-post{
    width: 80%;
    max-width: 80rem;
    padding: 2.5rem;
    background-color: #eee;
    box-shadow:0 0.8rem 2rem rgb(97, 97, 102) ;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;

}

 .blog-post-img {
  min-width: 25rem;
  max-width: 25rem;
  height: 15rem;

} 

 .blog-post-img img{
    width: 100%;
    height: 100%;
     object-fit: cover;
    display: block;
    border-radius: .8rem;
   
}


.blog-post-title h5{
  font-size: 1.8rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: rgb(107, 97, 97) ;
}

.blog-post-text{
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: rgb(158, 151, 151);
}

@media screen and (max-width:1068px){
  .blog-post{
    max-width: 80rem;
  }
  .blog-post-img {
    min-width: 25rem;
    max-width: 25rem;
  
  } 
  
}

@media screen and (max-width:868px){
  
  .blog-post{
    max-width: 65rem;
    flex-direction: column;
  }
  .mainBackground{
    width: 868px;
  }
  .navbar{
    width: 868px;
  }
  
}

@media screen and (max-width:468px){
  
  .blog-post{
    padding: 1.5rem;
    flex-direction: column;
  }
  .blog-post-img {
    min-width: 100%;
    max-width: 100%;
  
  } 
  
}



/* 3rd Section */

.dotted{
  width: 10%;
  position: relative;
  left: 46%;
  border-bottom: 8px dashed rgb(219, 209, 209);
  letter-spacing: 1.2rem;
}


.section3 {
  margin: 100px auto;
  height: auto;
}

.card{
    margin: 30px 10px 80px;
}

.card-title{
  background-color: #eee;
  padding: 3%;
  border-radius: 5px;
  color:  rgb(102, 68, 68);
  box-shadow: 2px 3px 8px rgb(143, 141, 141);
}

.card-content{
  margin-top: 15px;
  background-image: linear-gradient(to bottom right, rgb(0, 52, 82) , rgb(71, 127, 160), rgb(102, 68, 68));
  height: 18rem;
  padding: 15px 10px;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
  box-shadow: inset 2px 3px 8px rgb(112, 111, 111);
}

.section3 .section3content {
  margin-top: 20px;
  padding: 0 15px;
}

.section3 .section3content .symptoms {
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.dos{
  margin: 10px 70px;
  padding: 5px 30px;
  font-size: 1.5rem;
  background-color: #eee;
  border: 3px solid rgb(143, 141, 141);
  border-radius: 20px;
}
.donts{
  font-size: 1.5rem;
  margin: 10px 70px;
  padding: 5px 30px;
  background-color: #eee;
  border: 3px solid rgb(143, 141, 141);
  border-radius: 20px;
}





/* 4th section */

.section4 {
  margin: 100px 20px 40px;
  height: auto;
}

 .section4Title {
  text-align: center;
  color: rgb(104, 104, 104) ;
}
 
.section4 .section4content{
  margin: 17px 90px;
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-radius: 1em;
  border: 2px black solid;
  overflow: hidden;
}

thead {
 visibility: hidden;
 position: absolute;
 width: 0;
 height: 0;
}

th {
  background: #215A8E;
  color: #fff;
}

td:nth-child(1) {
  background: #215A8E;
  color: #fff;
  border-radius: 1em 1em 0 0;
}

th, td {
  padding: 1em;
}

tr, td {
  display: block;
}

td {
  position: relative;
}

td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  padding-left: 1em;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
}

tr {
  margin-bottom: 1.5em;
  border: 1px solid #ddd;
  border-radius: 1em;
  text-align: right;
}

tr:last-of-type {
  margin-bottom: 0;
}

td:nth-child(n+2):nth-child(odd) {
  background-color: #ddd;
}


@media only screen and (min-width: 768px) {
  
  table {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  
  thead {
    visibility: visible;
    position: relative;
  }
  
  th {
    text-align: left;
    text-transform: uppercase;
    font-size: .9em;
  }
  
  tr {
    display: table-row;
    border: none;
    border-radius: 0;
    text-align: left;
  }
  
  tr:nth-child(even) {
  background-color: #ddd;
}
  
  td {
    display: table-cell;
  }
  
  td::before {
    content: none;
  }
  
  td:nth-child(1) {
    background: transparent;
    color: #444;
    border-radius: 0;
  }
  
  td:nth-child(n+2):nth-child(odd) {
    background-color: transparent;
  }
  
  
}
table{
  border-radius: 1em;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #b4b9be;
}

.newCases{
  background-color: wheat;
}

.newDeaths{
  background-color: #ff000096;
}

.text-center button{
  border: 2px solid rgb(145, 88, 185);
  color: rgb(145, 88, 185);
  margin-bottom: 30px;
  border-radius: 30px;
}

.text-center button:hover{
  background-color:  rgb(145, 88, 185);
  color: #fff;

}

/* main content ends here */
/* content ends here */
























/* bottom to top button start */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff9966;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 63%);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.btn-primary {
 
  margin-bottom: 24px;
}

/*** Footer ***/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;

}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}








/* media queries */

@media (max-width: 999px) {
  .section2 .secondhalf3 .oneSection {
    flex-direction: column;
  }
  
  .section2 .secondhalf3 .pic img {
    margin-top: 15px;
    margin-right: 0;
  }

  .hidden{
    display: block;
  }

  .section3 .section3content .symptoms {
    flex-direction: column;
    padding: 0 10px;
  }

  .mostcommonsymptoms h3{
text-align: center;
  }

  .mostcommonsymptoms ul{
    
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .mostcommonsymptoms ul li{
    margin: 0 5px;
   }

   

.section3 .section3content .someinfo .info {
  margin: 8px 34px;
}

   .section3 .section3content .someinfo .note {
      margin: 0 148px;
    }
}

@media (max-width: 900px) {
  .section2 .secondhalf2 .section2Img {
    width: 300px;
}
.section4 .section4content {
  margin: 17px 40px;
}
}

@media (max-width: 800px){
.section2 .secondhalf2 .section2Img {
    width: 250px;
}
.section4 .section4content {
  margin: 17px 20px;

}
/* .table td, .table th {
  padding-top: 6px ;
  padding-right: 0px ;
  padding-left: 15px ;
  padding-bottom: 6px ;
}

.table td {
  display: inl;
} */

/* table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
} */

}

@media (max-width: 700px){
  .section2 .secondhalf2 .section2Img {
      width: 200px;
  }
  }

@media (max-width: 650px){
    .section2 .secondhalf2 {
display: none;
    }

    .section2 .section2subsection {
      justify-content: center;
  }

  @media (max-width: 999px)
  {
.section2 .secondhalf3 .oneSection {
    flex-direction: row;
    width: 550px;
}
    }

    .section2 .secondhalf3 {
      padding: 0px;
      
  }
  .section2 .section2subsection {
    display: block;
}

.section2 .secondhalf3 .oneSection {
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    width:95%;
  }
  }


@media (max-width: 600px){
  .section2 .secondhalf3 .oneSection {
      flex-direction: column;
      /* margin-left: 2%;
      margin-right: 2%;
      width: 95%; */
  }
}

@media (max-width: 850px){
  .section3 .section3content .someinfo {
    width: 85%;
    margin: 0 auto;
}
}

@media (max-width: 850px){
  
  .section3 .section3content .someinfo {
    width: 90%;
}

  .section3 .section3content .someinfo .info {
    margin: 8px 25px;
}

  .section3 .section3content .someinfo .note {
    margin: 0 111px;
}
}

@media (max-width: 650px){
  
  .section3 .section3content .someinfo {
    width: 93%;
}

  .section3 .section3content .someinfo .info {
    margin: 8px 11px;
}

  .section3 .section3content .someinfo .note {
    margin: 0 111px;
}
}


@media (max-width: 550px){
  
  .section3 .section3content .someinfo {
    width: 96%;
}

  .section3 .section3content .someinfo .info {
    margin: 8px 7px;
    flex-direction: column;
}

.section3 .section3content .someinfo .info .infoText {
  margin-top: 1px;
  margin-bottom: 1rem;
  padding: 0 6px;
}


  .section3 .section3content .someinfo .note {
    margin: 0 25px;
}
.mainSection .firsthalf1 {
  padding-right: 5px;
}
.mainSection .firsthalf1 h1 {
  font-size: 35px;
}

.mainSection .firsthalf1 h2 {
  font-size: 30px;
}

.mainBackground {
  background: rgba(0, 0, 0, 0.2) url(../assets/covidSectionTop2nd.jpeg);
  background-size: cover;
  background-blend-mode: darken;
}
}

