@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;700;800&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
}

/* Loader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.layer1_class {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #048023; /* Dark Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spinloader 2s linear infinite;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin: 0%;   */
  /* top: 10%;
    left: 45%; */
}
.layer1_class img {
  height: 120px;
  width: 120px;
  animation: spinlogo 2s linear infinite;
}
@keyframes spinloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinlogo {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* bottom to top button start */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff9966;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 63%);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/* Navbar CSS Start */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}
.navbar-nav {
  margin-left: auto;
}
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #343148;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #ffffff;
}

.navbar .navbar-brand img {
  max-width: 32%;
  max-height: 30%;
  margin: -10px 0px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  background: rgba(256, 256, 256, 0.3);
  transition: none;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}
#logoname {
  margin-left: -110px;
  margin-top: -3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar CSS End */

body {
  overflow-x: hidden;
}

button:hover {
  transform: scaleX(1.1);
}

/* Page 1 CSS Start */

#page1 {
  background-blend-mode: screen;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: relative;
  animation: body-slide-down 1100ms ease-out;
  animation-delay: 2.5s;
}
#page1 img {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.text1 {
  padding-top: 13%;
  font-family: "Baloo Bhaijaan 2", cursive;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}
.text1 > * {
  width: 45%;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.right {
  font-size: 1.2rem;
  text-align: justify;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  padding: 1rem;
  border-radius: 5px;
}
#getstarted {
  text-decoration: none;
  color: white;
  padding: 50px;
}
#getstartedbutton {
  box-shadow: 0 0 3px #dfdddd;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: none;
  transition: 0.5s;
}
#getstartedbutton:hover {
  background-color: #ffc107;
}
.text1 h1 {
  font-weight: bolder;
  font-family: "Baloo Bhaijaan 2", cursive;
}
.alert {
  background-color: #ffc107;
  color: white;
  margin: 0;
}
.container {
  opacity: 0;
  animation: reveal 2s ease-in-out 3s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 991px) {
  .text1 {
    flex-direction: column;
  }
  .text1 > * {
    width: 100%;
    height: 50%;
  }
}

/* Page 1 CSS End */

#avail {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avail-content {
  height: 80%;
  border-radius: 10px;
  background: url(../assets/bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.avail-content h2 {
  font-weight: 800;
}
.avail-content ul {
  font-size: 1rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.avail-content ul li {
  list-style-type: decimal;
}
.avail-content ul li ul li {
  margin-left: 3rem;
  list-style-type: circle;
}
.blur {
  height: 100%;
  width: 100%;
  padding: 1rem 5rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);

  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* Page 2 CSS Start */
#page2 {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/hom.jpg);
  background-size: cover;
}
#watermessage {
  text-align: center;
}
.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background-color: #000000;
  transition: 1s;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}
.imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.img1::before {
  content: "Hover on me!";
  height: 100%;
  width: 100%;
}

.card {
  width: 30%;
  height: 80%;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
  transition: 1s;
  background-color: #292929;
  color: white;
}
.card:hover .imgbox {
  transform: rotateY(-180deg);
}
.card:hover {
  transform: translateX(50%);
}
.card .details {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  border-radius: 0 !important;
}
.card .details .content {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#explorebutton,
#learnmore {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
#explorebutton a,
#learnmore a {
  text-decoration: none;
  color: #000000;
}

#explorebutton:hover,
#learnmore:hover {
  background-color: #ffc107;
}
#explorelink,
.learnlink {
  transition: 0.5s;
}
#explorebutton:hover #explorelink {
  color: white;
}
#learnmore:hover .learnlink {
  color: white;
}
@media only screen and (max-width: 900px) {
  .card {
    width: 48%;
  }
}

@media only screen and (max-width: 900px) {
  #page2 {
    height: 60vh;
  }
  .card {
    height: 90%;
    width: 90%;
  }
  .card:hover .imgbox {
    opacity: 0;
  }
  .card:hover {
    transform: translateX(0);
  }
}

/* Page 2 CSS End */

/* Page 3 CSS Start */
#page3 {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  box-shadow: 0px -2px 5px rgba(148, 148, 148, 0.45);
  position: relative;
}
#page3 img {
  height: 100%;
  right: 0;
  position: absolute;
  z-index: -1;
}

.jumbotron {
  width: 70%;
  height: 100%;
  background-color: transparent !important;
  z-index: 1;
}
#learnmore {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 890px) {
  #page3 {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Page 3 CSS End */

/* Footer CSS Start */

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;
}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  footer .f-container .sec.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

/* Footer CSS End */

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.1) !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #343148 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #343148 !important;
  }

  .navbar.nav-sticky {
    position: sticky;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}
@media (min-width: 410px) and (max-width: 760px) {
  .text1 {
    font-size: 17px;
  }
}
@media (max-width: 409px) {
  .text1 {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .container2 h2 {
    font-size: 5vw;
    margin-top: 50px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container2 h2 {
    font-size: 3vw;
    margin-top: 50px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .container2 h2 {
    font-size: 3vw;
    margin-top: 50px;
  }
}
@media (max-width: 373px) {
  #logoname {
    font-size: 28px;
    margin-left: -110px;
  }
}
@media (min-width: 761px) and (max-width: 991px) {
  .text1 {
    font-size: 22px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  #getstarted {
    color: #ffffff;
  }
}
@media (min-width: 280px) and (max-width: 335px) {
  #learnmore {
    margin-left: 100px;
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .card {
    margin-top: -5px;
  }
}
@media (max-width: 416px) {
  #explorebutton {
    margin-left: -40px;
  }
}

@keyframes body-slide-down {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
