
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Lora:ital@0;1&family=Noto+Serif:wght@700&family=Roboto+Serif:ital,wght@1,100&family=Roboto+Slab&family=Source+Sans+Pro:ital,wght@0,600;1,600&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
}
/* Navbar CSS Start */
.navbar {
    position: relative;
    transition: 0.5s;
    z-index: 999;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  
  .navbar .navbar-brand span {
    color: #343148;
    text-transform: lowercase;
    transition: 0.5s;
  }
  
  .navbar.nav-sticky .navbar-brand span {
    color: #ffffff;
  }
  
  .navbar .navbar-brand img {
    max-width: 32%;
    max-height: 30%;
    margin: -10px 0px;
  }
  
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, 0.3);
    transition: none;
  }
  
  .navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
  }
  #logoname {
    margin-left: -110px;
    margin-top: -3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* Navbar CSS End */
  
  @media (min-width: 992px) {
    .navbar {
      position: absolute;
      width: 100%;
      padding: 20px 60px;
      background: rgba(0, 0, 0, 0.1) !important;
      z-index: 9;
    }
  
    .navbar.nav-sticky {
      padding: 10px 60px;
      background: #343148 !important;
    }
  
    .navbar a.nav-link {
      padding: 8px 15px;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  
  @media (max-width: 9928px) {
    .navbar {
      padding: 15px;
      background: #343148 !important;
    }
  
    .navbar.nav-sticky {
      position: sticky;
    }
  
    .navbar .navbar-brand span {
      color: #ffffff;
    }
  
    .navbar a.nav-link {
      padding: 5px;
    }
  
    .navbar .dropdown-menu {
      box-shadow: none;
    }
  }
  
  @media (min-width: 280px) and (max-width: 333px) {
    .images {
      margin-left: -5px;
      width: 250px;
      height: 150px;
    }
     #logoname {
      font-size: 35px;
    }
  }
  
  /* Navbar CSS End */

  /* heading */

  @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

#medical_header {
  background: rgba(0, 0, 0, 0.2) url("../assets/mediclHelp.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
}

.medical_heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  font-size: 700%;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 5%;
  letter-spacing: 15px;
}

  .main-section {
    height: auto;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  } 

  /* content starts here */
 
  .card {
    width: 60%;
    height: 48%;
    margin: auto;
    margin-top: 6%;
    border: none;
    box-shadow: 12px 12px 11px rgb(202, 202, 202);
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
  }

  .card-image{
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  .card-image-main{
    height: 100%;
  }

  .disease-title{
    font-family: 'Overpass', sans-serif;
    font-size: 600%;
    font-weight: 400;
    text-align: left;
    padding-left: 5%;
    position: absolute;
    color: #fff;
    margin-top: 10%;
    top: -5%;
  }

  .selection-tab{
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    font-weight: 400;
    display: flex;
    flex-direction: row; 
    justify-content: center;   
  }
  
  .category{
    width: 15%;
    height: 10%;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
    color: #999;
    text-align: center;
  }

  .indicator{
    margin-top: 2%;
    border-bottom: 4px solid #343148;
    position: absolute;
    width: 15%;
    height: 2.8%;
    left: 5%;
    transition: 0.3s ease;
  }
  
  .category-active{
    color: #343148;
    font-weight: 900;
    transition: 0.3s ease-in-out;
  }

  .desc > .info{
    width: 95%;
    height: 80vh;
    background-color: rgb(230, 230, 230);
    margin: auto;
    margin-bottom: 3%;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    font-weight: 400;
    text-align: left;
    padding: 3%;
    padding-top: 3%;
    border-radius: 0;
    padding-right: 12%;
      
  }
  .info > ul > li{
    margin-bottom: 2%;
    padding-right: 4%;
    text-align: left;
    list-style-image: url("../assets/bullet-icon.svg");
  }

  .infotext{
    opacity: 0;
    position: absolute;
    padding-right: 4%;
  }
  .active{
    opacity: 1;
    transition: 0.5s ease;
  }


  @media (max-width: 768px) {
    .medical_heading{
      font-size: 300%;
      letter-spacing: 5px;
    }

    .card {
      width: 85%;
      height: 88%;
      box-shadow: 6px 6px 4px rgb(202, 202, 202);
    }
  
    .card-image{
      width: 100%;
      height: 15vh;
    }
    .card-image-main{
      height: 15vh;
      position: absolute;
      left: -10vh;
    }
  
    .disease-title{
      font-family: 'Overpass', sans-serif;
      font-size: 250%;
      padding-left: 5%;
      margin-top: 20%;
      top: -5%;
    }
  
    .selection-tab{
      font-size: 80%;
    }
    
    .category{
      width: 25%;
      height: 10%;
      margin: 0%;
      margin-top: 2%;
      margin-bottom: 2%;
      cursor: pointer;
      color: #999;
      text-align: center;
    }
  
    .indicator{
      margin-top: 2%;
      width: 20%;
      height: 2.8%;
      left: 2.5%;
    }
    
    .category-active{
      color: #343148;
      font-weight: 900;
      transition: 0.3s ease-in-out;
    }
  
    .desc > .info{
      width: 95%;
      height: 80vh;
      background-color: rgb(230, 230, 230);
      margin: auto;
      margin-bottom: 3%;
      font-family: 'Overpass', sans-serif;
      font-size: 1.9vh;
      font-weight: 400;
      text-align: left;
      padding: 3%;
      padding-top: 3%;
      border-radius: 0;
      padding-right: 12%;
        
    }
  }

  
/*** Footer ***/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;

}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  footer .f-container .sec.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

