@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-color:white;
  --p-color:black;
  --shad-color:black;
  /*--bg-color:black;*/
  /*--p-color:white;*/
}
.dark-theme{
  --bg-color:black;
  --p-color:white;
  --shad-color: white;
}
/*toggle button*/
#icon{
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-top:7px;
  position: relative;
  background: black;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
  inset 0 8px 8px rgba(0,0,0,0.1),
  inset 0 -4px 4px rgba(0,0,0,0.1);
}
#icon .indicator{
  position: absolute;
  top:0;
  left: 0;
  width:30px;
  height: 30px;
  background: linear-gradient(#FAEBD7,#FFFAFA);
  border-radius: 50%;
  transform: scale(0.8);
  box-shadow: 0 8px 40px rgba(248,248,255,0.5),
  inset 0 4px 4px rgba(0,0,0,0.1),
  inset 0 -4px 4px rgba(0,0,0,0.1);
  transition: 0.5s;
}
#icon.active .indicator{
  left:20px;
  background: linear-gradient(black,#696969);
  box-shadow: 0 8px 20px rgba(248,248,255,0.1),
  inset 0 4px 4px rgba(0,0,0,0.1),
  inset 0 -4px 4px rgba(0,0,0,0.1);
}
#icon.active{
  background: white;
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
  inset 0 2px 8px rgba(0,0,0,0.1),
  inset 0 -4px 8px rgba(0,0,0,0.05);
}

/* Navbar CSS Start */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}
.navbar-nav {
  margin-left: auto;
}
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #343148;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #ffffff;
}

.navbar .navbar-brand img {
  max-width: 32%;
  max-height: 30%;
  margin: -10px 0px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  border-radius: 6px;
  background: rgba(256, 256, 256, 0.3);
  transition: all 0.3s ease-in;
  transform: scale(105%);
}

.navbar-dark .navbar-nav .nav-link:hover i {
  transform: rotate(10deg);
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}
#logoname {
  margin-left: -110px;
  margin-top: -3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width:373px){
  #logoname{
    font-size: 28px;
    margin-left: -110px;
  }
}

/* Navbar CSS End */

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.1) !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #343148 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #343148 !important;
  }

  .navbar.nav-sticky {
    position: sticky;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

@media (min-width: 280px) and (max-width: 333px) {
  .images {
    margin-left: -5px;
    width: 250px;
    height: 150px;
  }
}
body {
  height: 100%;
  position: relative;
  background: var(--bg-color);
  
}

/* Header */
#container_header {
  background: rgba(0, 0, 0, 0.2) url("../assets/teamb.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-size:auto;
}
.teamtext{
  display: flex;
  position: relative;
  top:5em;
  left:36em;
  filter: saturate(1);
  filter: contrast(1.2);
  filter: drop-shadow(1);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
  background-color: #343148;
}
.meet {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
.aboutMe {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  height: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 6vh 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 15px #ccc;
}

.pic {
  height: 23rem;
  width: 24.4vw;
  border-radius: 50%;
  /* border-color: #000000; */
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-style:groove;
  border-width: 4px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
}
.pic:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
}
.content {
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 5px;
  height: 15%;
  width: 35rem;
  transition: all 1s;
}

.content h1 {
  color: rgb(37, 35, 35);
  font-size: 3.5rem;
  font-weight: bold;
  color:var(--p-color);
}
.content h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #14292e;
}
.content p {
  font-size: 1rem;

  text-align: justify;
}
.one {
  background-image: url(../assets/team1.jpeg);
}
.two {
  background-image: url(../assets/team2.jpeg);
}
.three {
  background-image: url(../assets/team3.jpg);
}
.four {
  background-image: url(../assets/team4.jpeg);
}
.hidden {
  display: none;
  transition: all 2s;
  color: white;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons i {
  color: white;
  font-size: 1.8rem;
}
.icons i:hover {
  color: #14292e;
}
.content:hover {
  padding: 4%;
  height: 50%;
  margin-bottom: 0;
  background-color: #6b696e;
  color: white;
}
.content:hover .hidden {
  display: block;
}
.content:hover .name {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reverse {
  flex-direction: row-reverse;
}
/* Media Query */

@media only screen and (max-width: 1000px) {
  .container,
  .reverse {
    flex-direction: column;
  }
  .pic {
    margin-bottom: 5%;
  }
  .teamtext{
    left:10em;
  }
  
}
@media only screen and (max-width: 900px) {
  .pic {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
  .container {
    padding: 5%;
  }
  .teamtext{
    left:0em;
    width: 300px;
  }
}
/* footer */

/*** Footer ***/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;
}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
  transition: all 0.3s ease-out;
}

footer .f-container:hover h2:hover:before {
  width: 130px;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  footer .f-container .sec.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}

/* bottom to top button start */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff9966;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 63%);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
