@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  /* scroll-behavior: smooth; */
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* Navbar CSS Start */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}
.navbar-nav {
  margin-left: auto;
}
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #343148;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #ffffff;
}

.navbar .navbar-brand img {
  max-width: 32%;
  max-height: 30%;
  margin: -10px 0px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  background: rgba(256, 256, 256, 0.3);
  transition: none;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}
#logoname {
  margin-left: -110px;
  margin-top: -3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar CSS End */

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.1) !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #343148 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #343148 !important;
  }

  .navbar.nav-sticky {
    position: sticky;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

@media (min-width: 280px) and (max-width: 333px) {
  .images {
    margin-left: -5px;
    width: 250px;
    height: 150px;
  }
   #logoname {
    font-size: 35px;
  }
}

/* Navbar end */

/* heading */
#tools_header {
  background: rgba(0, 0, 0, 0.2) url("../assets/tools_head.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#tools_heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 100px;
  padding-top: 140px;
  text-shadow: 5px 3px #000000;
}

/* bottom to top button start */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff9966;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 63%);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.btn-primary {
  margin-bottom: 24px;
}

/* main section */

.main-section {
  height: auto;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

/* cards */
.card {
  margin: 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  width: 30%;
  height: 470px;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 190px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

@media (max-width: 425px) {
  .card {
    margin: 13px 0 30px 13px;
    width: 90%;
    height: auto;
    float: left;
    text-align: center;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .card {
    width: 45%;
    height: 470px;
    float: left;
    text-align: center;
  }
}

/*** Footer ***/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;
}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}
