* {
  /* scroll-behavior: smooth; */
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

/* Navbar CSS Start */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}
.navbar-nav {
  margin-left: auto;
}
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #343148;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #ffffff;
}

.navbar .navbar-brand img {
  max-width: 32%;
  max-height: 30%;
  margin: -10px 0px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  border-radius: 6px;
  background: rgba(256, 256, 256, 0.3);
  transition: all 0.3s ease-in;
  transform: scale(105%);
}

.navbar-dark .navbar-nav .nav-link:hover i {
  transform: rotate(10deg);
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}
#logoname {
  margin-left: -110px;
  margin-top: -3px;
}
/* Navbar CSS End */

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.1) !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #343148 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #343148 !important;
  }

  .navbar.nav-sticky {
    position: sticky;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

@media (min-width: 280px) and (max-width: 333px) {
  .images {
    margin-left: -5px;
    width: 250px;
    height: 150px;
  }
  #logoname {
    font-size: 35px;
  }
}
body {
  overflow-x: hidden;
}
/* Navbar end */
#banner {
  height: auto;
  border-bottom: 10px solid #00c0d0;
}

.banner-img {
  width: 40%;
}
.b-content {
  display: flex;
  padding-bottom: 5rem;
}
.b-title {
  width: 70%;
  padding: 0 3rem 0 5rem;
}
.b-title h1 {
  font-size: 3rem;
}
.b-title p {
  font-size: 1.25rem;
}
.flex {
  display: flex;
}

@media only screen and (max-width: 940px) {
  .b-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .b-title {
    width: 100%;
    text-align: center;
    padding: 0 3rem;
  }
  .b-title h1 {
    font-size: 1.5rem;
  }
}

#t-carousel {
  height: 100vh;
  width: auto;

  transition: 1s;
  transform: translateY(-000%);
}

#t-carousel > * {
  width: 100vw;
}
#ques {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
#gender {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00c0d0;
  color: white;
  padding-top: 7rem;
}
.g-btns {
  height: 100vh;
  width: 90%;

  display: flex;

  align-items: center;
  justify-content: space-around;
}
.male,
.female {
  height: 50%;
  width: 40%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background: #00c0d0;
  border-radius: 15px;
  box-shadow: inset 9.91px 9.91px 20px #00a3b1,
    inset -9.91px -9.91px 20px #00ddef;
  transition: 1s;
  outline: none;
  border: none;
}
#gender img {
  height: 7rem;
  transition: 1s;
}
.male:hover,
.female:hover {
  transform: scale(1.15);
}
@media only screen and (max-width: 680px) {
  .g-btns {
    flex-direction: column;
    height: 70vh;
  }
  .male,
  .female {
    height: 40%;
    width: 70%;
  }
}
#age {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  height: 100vh;
  padding: 0 5rem;
  padding-top: 7rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}
#age img,
#goal img {
  height: 20rem;
}
.wave-down,
.wave-down-2 {
  position: absolute;
  bottom: -1.1rem;
  right: 0;
  width: 100%;
}

.a-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;

  height: 55%;
}
.a-radio h1 {
  background-color: transparent;
  font-size: 2rem;
  width: auto;
}
.a-radio > * {
  width: 20rem;
  background-color: #00c0d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1214px) {
  #age {
    justify-content: space-between;
  }
  .a-radio > * {
    width: 10rem;
  }
}
@media only screen and (max-width: 934px) {
  #age {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  #age img,
  #goal img {
    height: 10rem;
  }
  .wave-down,
  .wave-down-2 {
    bottom: -2.3rem;
  }
}

#goal {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  height: 100vh;
  padding: 0 5rem;
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 1214px) {
  #goal {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 934px) {
  #goal {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
#pre {
  height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #00c0d0;
  color: white;
  text-align: center;
}

.submit {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: #00c0d0;
  box-shadow: 10px 10px 35px #0098a4, -10px -10px 35px #00e8fc;
  border: none;
  color: white;
  font-weight: bold;
}
.submit:hover {
  opacity: 1;
  box-shadow: -6px -6px 10px #0b9ba9, 6px 6px 10px #00c0d0;
}
.res-img {
  width: 50%;
  height: 50%;
}
#res {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  width: 100vw;

  height: auto;
  display: flex;
  flex-direction: column;
}
#workout {
  padding: 0 5rem;
}
#workout h1 {
  padding: 5rem 0;
  font-weight: 600;
}
.exh1,
.exh2 {
  color: #00c0d0;
  font-weight: bold;
}
.w-first,
.w-second {
  display: flex;
}
.w-first img,
.w-second img {
  width: 40%;
}
@media only screen and (max-width: 870px) {
  #res {
    padding: 0 3rem;
  }
  .w-first,
  .w-second {
    flex-direction: column;
    text-align: justify;
  }
  .w-first img,
  .w-second img {
    width: 100%;
  }
}
#food {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20rem;
  width: 100vw;
  height: 100vh;
  padding: 0 5rem;
  margin-top: 10rem;
}
#food ul li {
  list-style-type: none;
  padding: 1rem 0;
  padding-left: 0;
}
#food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#prod {
  margin-top: 20rem;
  padding: 0 5rem;
  margin-bottom: 5rem;
}
#prod img {
  width: 50%;
}
#reload {
  width: auto;
  margin: 5rem 0;
  outline: none;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1rem 0;
  background-color: #00c0d0;
  color: white;
}
#reload:hover {
  background-color: #525252;
}
@media only screen and (max-width: 680px) {
  #workout,
  #food,
  #prod {
    padding: 0 3rem;
  }
  .flex {
    flex-direction: column;
  }
}
@media only screen and (max-width: 610px) {
  #workout,
  #food,
  #prod {
    padding: 0 1rem;
  }
  #food {
    padding-right: 2rem;
  }
  #food > * {
    width: 80%;
  }
}
/*** Footer ***/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

footer .f-container {
  display: flex;
  justify-content: space-between;
}

footer .f-container .sec {
  margin-right: 30px;
}

footer .f-container .sec.aboutus {
  width: 40%;
}

footer .f-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .f-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: #f00;
  transition: all 0.3s ease-out;
}

footer .f-container:hover h2:hover:before {
  width: 130px;
}

footer p {
  color: #999;
  margin-top: 1em;
}

.sci {
  margin-top: 20px;
  display: flex;
  padding: 0%;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border: 2px solid #e9204f;
  border-radius: 10px 100px / 120px;
}
.sci li a:hover {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

.sci li a .fas {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul {
  padding: 0%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact ul {
  padding: 0%;
  margin: 0;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
  text-decoration: none;
}

.contact .info li span a:hover {
  color: #fff;
}

.copyrightText {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }

  footer .f-container {
    flex-direction: column;
  }

  footer .f-container .sec {
    margin-right: 0;
    margin-bottom: 35px;
  }

  footer .f-container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  footer .f-container .quickLinks,
  .contact {
    text-align: center;
  }

  footer .f-container h2:before {
    position: relative;
  }
  footer .f-container h2 {
    text-align: center;
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .quickLinks h2 {
    display: inline;
    border-bottom: 3px solid red;
  }

  footer .f-container .contact h2 {
    display: inline-block;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }

  footer .f-container .sec.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact .info li {
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}
